.user-card{  
    width: 100%;
}
p.conference {
    color: var(--purple);
    font-size: 20px;
    display: flex;
    align-items: center;
    font-family: 'FredokaOne';
    letter-spacing: 3px;
}


span.description {
    color: var(--gray);
    font-size: 15px;
    font-family: 'Inter';
}

@media screen and (min-width: 768px ) {
    .user-card{  
        width: 290px;
    }
}