.user-card{  
    width: 100%;
}
p.conference {
    color: var(--purple);
    font-size: 24px;
    letter-spacing: 3px;
}


span.description {
    color: var(--gray);
    font-size: 17px;
    min-height: 187px;
    display: flex;
    align-items: center;
}

@media screen and (min-width: 768px ) {
    .user-card{  
        width: 290px;
    }
}