:root {
  --base-screen-width: 1728;
  --scale: calc((100vw * 100 / var(--base-screen-width)) / 100);
}

.DevuHomePage__container {
  display: grid;
  grid-template-columns: min(calc(var(--scale) * 860), 860px) auto;
  grid-template-rows: 363px auto;
}

.DevuHomePage__title {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 2;
}

.DevuHomePage__pet {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.DevuHomePage__description {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

.DevuHomePage__pet > img {
  margin-top: max(calc(var(--scale) * -12), -12px);
  margin-left: max(calc(var(--scale) * -60), -60px);
  width: calc(100% + 60px);
}

/* The following styles will handle  */

.DevuHomePage__title > span {
  font-size: min(calc(var(--scale) * 300), 300px);
}

.DescriptionText__container {
  margin-top: 20px;
}

.DescriptionText__container > span {
  font-size: 33px;
}

.DescriptionText__container > p {
  font-size: 30px;
}

.SocialNetworks__container {
  font-size: 30px;
}

.SocialNetworks__container img {
  width: 40px;
}
