.DevuHomePage__title-container {
  display: flex;
  flexWrap: wrap;
  flex-direction: row;
}

.DevuHomePage__pet > img {
  margin-left: -48px;
  width: max(100%, 184px);
}

.DevuHomePage__description > p {
  display: inline;
}

.DevuHomePage__description-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 30px;
  fontFamily: Inter;
}

.DevuHomePage__description-wrapper {
  max-width: 800px;
}

.DevuHomePage__social-networks {
  gap: 16px;
  display: flex;
  margin-top: 16px;
  flex-direction: row;
}

.DevuHomePage__description-polyfill {
  width: calc(637px + 48px);
}
