.layout-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1700px;
    height: 100%;
}
.main-container{
    position: relative;
    display: flex; 
    gap: 8px;
    width: 100%;
    height: calc(100% - 40px);
    overflow-y: auto;
    overflow-x: hidden;
}
.main-colum{
    position: sticky;
    top: 0px;
    width: 35px;
}
.main-content{
    width: calc(100% - 35px - 8px);
    padding: 16px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 40px;
}

@media screen and (min-width: 375px ) {
    .main-container{
        gap: 16px;
    }
}
