.layout-container {
  width: 100%;
  height: 100%;
  max-width: 1700px;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 35px;
}

.main-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.layout-colum, .polyfill-colum{
  position: sticky;
  top: 0px;
  width: 35px;
  min-width: 35px;
}

.main-content {
  padding: 16px;
  height: 100%;
}
